services:
  postgres:
    image: postgres:15-alpine
    container_name: projet-cloud-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: auth_db
      POSTGRES_MULTIPLE_DATABASES: auth_db,cartes_db,web_db,mobile_db
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./scripts/01-init-multiple-databases.sh:/docker-entrypoint-initdb.d/01-init-multiple-databases.sh
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  auth-api:
    build: ./auth-api
    ports:
      - "3000:3000"
    env_file: ./auth-api/.env
    environment:
      - PG_HOST=postgres
      - PG_PORT=5432
      - PG_DATABASE=auth_db
      - PG_USER=postgres
      - PG_PASSWORD=admin
      - NODE_ENV=development
      - SERVER_PORT=3000
      - SERVER_HOST=0.0.0.0
      - FIREBASE_SERVICE_ACCOUNT=firebase-service-account.json
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  tile-server:
    image: overv/openstreetmap-tile-server:1.4.0
    container_name: s5-tile-server
    command: run
    shm_size: 512m
    ports:
      - "8081:80"
    volumes:
      - ./cartes/data/antananarivo.osm.pbf:/data.osm.pbf
      - osm-data:/var/lib/postgresql/12/main
      - osm-tiles:/var/lib/mod_tile
    environment:
      - THREADS=4
      - ALLOW_CORS=enabled
    networks:
      - app-network

  web:
    build: ./web-content/web
    ports:
      - "80:80"
    environment:
      - PG_HOST=postgres
      - PG_PORT=5432
      - PG_DATABASE=web_db
      - PG_USER=postgres
      - PG_PASSWORD=admin
    depends_on:
      - auth-api
      - tile-server
      - postgres
    networks:
      - app-network

  # mobile:
  #   build: ./mobiles
  #   ports:
  #     - "8100:80"
  #   environment:
  #     - PG_HOST=postgres
  #     - PG_PORT=5432
  #     - PG_DATABASE=mobile_db
  #     - PG_USER=postgres
  #     - PG_PASSWORD=admin
  #   depends_on:
  #     - postgres
  #   networks:
  #     - app-network

volumes:
  postgres-data:
    driver: local
  osm-data:
    driver: local
  osm-tiles:
    driver: local

networks:
  app-network:
    driver: bridge       

