version: '3.8'
services:
  auth-api:
    build: ./auth-api
    ports:
      - "3000:3000"

  tile-server:
    image: overv/openstreetmap-tile-server:1.4.0
    container_name: s5-tile-server
    ports:
      - "8081:80"
    volumes:
      - ./cartes/data:/var/lib/postgresql/14/main
    environment:
      - THREADS=4

  web:
    build: ./web
    ports:
      - "80:80"        
    depends_on:
      - auth-api
      - tile-server

  mobile:
    build: ./mobile
    ports:
      - "8100:80"       

